<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<div id="profile-data"> 
  <h1> <%= profile.name %> </h1>
  <div>
    DogEars:

  </div>
  <div>
    <ul>
    Library:
    <% profile.library.forEach(book => { %>
      <li>
          <div class="card" style="width:30rem; float:left; padding:2px; margin:5rem;">
            <h4 class="card-title"><%= book.name %></h4>
            <p class="card-subtitle mb-1">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">length: <%= book.pageCount %> </li>
              <li class="list-group-item"><form action="/profiles/<%=profile._id%>/newDogear" method="get">
                <button type="submit">add a dogear</button>
              </form></li>
      </li>
    <% }) %>
    </ul>
  </div>
</div>
<%- include('../partials/footer') %>