<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %>
<div class="card">
<form action="/books/<%=book.id%>?_method=PUT" method="post">
  <label for="name-input">Book Title</label>
  <input type="text" name="name" id="name-input" value='<%= book.name %>'>
  <label for="pageCount-input">Pages:</label>
  <input type="number" name="pageCount" id="pageCount-input" value="<%=book.pageCount%>">
  <label for="yearPublished-input">Year published: </label>
  <input type="number" name="yearPublished" id="yearPublished-input" placeholder= <%= book.yearPublished%> >
  <label for="author-input">Author: </label>
  <select id="author-input" name="authors">
    <option value=>add later</option>
    <% authors.forEach(author => { %>
      <option value="<%= author._id%>"> <%= author.name %> </option>
    <% }) %>
  </select> 
  <button>update</button>
</form>
</div>
<%- include('../partials/footer') %> 