<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %> 
<% if (user) { %>
  <form action="/books" method="POST">
    <label for="name-input">Book Title</label>
    <input type="text" name="name" id="name-input">
      <select name="authors" multiple>
      <% authors.forEach(author => { %>
        <option value="<%= author._id%>"> <%= author.name %> </option>
      <% }) %>
    </select> 
    <label for="pageCount-input">Pages:</label>
    <input type="number" name="pageCount" id="pageCount-input">
    <button type="submit">add Book</button>
  </form>
<% }else{ %>
  <h1>Log In to add a book</h1>
<%} %>
<ul>
<% books.forEach(book => { %>
<li>
  Book: <a href="/books/<%=book._id%>"> <%= book.name %></a> 
  <form action="/books/<%=book._id%>?_method=DELETE" method="POST">
    <button>x</button>
  </form>
</li>
<% }) %>
</ul>
<%- include('../partials/footer') %> 