<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %> 
<% if (user) { %>
  <form action="/books" method="POST">
    <label for="name-input">Book Title: </label>
    <input type="text" name="name" id="name-input">
    <label for="author-input">Author: </label>
    <select id="author-input" name="authors">
      <option value='' disabled selected>add later</option>
      <% authors.forEach(author => { %>
        <option value="<%= author._id%>"> <%= author.name %> </option>
      <% }) %>
    </select> 
    <label for="pageCount-input">Pages:</label>
    <input type="number" name="pageCount" id="pageCount-input">
    <label for="yearPublished-input">Year published: </label>
    <input type="number" name="yearPublished" id="yearPublished-input" value=0000>
    <button type="submit">add Book</button>
  </form>
  <ul>
    <% books.forEach(book => { %>
    <li>
      Book: <a href="/books/<%=book._id%>"> <%= book.name %></a>
      <form action="/profiles/<%=user.profile._id%>/library/<%=book._id%>" method="POST">
        <input type="hidden" value="<%=book._id%>" name="targetBook">
        <button type="submit">save to your Library</button>
      </form>
      <form action="/books/<%=book._id%>?_method=DELETE" method="POST">
        <button type="submit">x</button>
      </form>
    </li>
    <% }) %>
    </ul>
<% }else{ %>
  <h1>Log In to add and see books</h1>
<%} %>

<%- include('../partials/footer') %> 