<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %> 

<div>Book: <a><%= book.name %></a></div>
<div>
  <% if (user) { %>
    <% if (user.profile._id === book.poster._id) { %>
      <a href="/books/<%= book._id%>/edit">
      <button>Edit Book</button>
      </a>
    <%  %>
  <%} else { %> 
    posted by: <%= book.poster.name %> 
  <%}} %>
</div>
<div> Pages: <%= book.pageCount %> </div>

<%- include('../partials/footer') %> 