<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %> 

<h1>Book: <%= book.name %></h1>
<div>
  <% if (user) { %>
    <% if (book.poster.equals(user.profile)) { %>
      <a href="/books/<%= book._id%>/edit">
      <button>Edit Book</button>
      </a>
  <%}else{%> 
    <h2>posted by: <%= book.poster.name %></h2>
  <%}} %>
</div>
<div> Pages: <%= book.pageCount %> </div>
<div>year published: <%= book.yearPublished%></div>
<div>
  <h3>Authors:</h3>
  <ul> 
  <% book.authors.forEach(author => { %>
    <%= author.name %> 
  <% }) %>
</ul>
</div>

<%- include('../partials/footer') %> 