<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %> 

<div>Book: <a><%= book.name %></a></div>
<div>
  <% if (user) { %>
    <% if (book.poster.equals(user.profile)) { %>
      <a href="/books/<%= book._id%>/edit">
      <button>Edit Book</button>
      </a>
  <%}%> 
    posted by: <%= book.poster %> 
  <%} %>
</div>
<div> Pages: <%= book.pageCount %> </div>

<%- include('../partials/footer') %> 