<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<div class="card text-center w-100" style="margin:0 auto;">
  <h4> <%= user ? user.profile.name : "reader, please log in to your google account to start tracking your books" %></h4>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
  <% if (user) { %>
    <h4>Welcome to Dogears!</h4>
    <article>
      Find and post books in the book bank, add pages for their authors to connect to your books, and save books to your library to start making dogears
    </article>
  <% } %>
</div>

<%- include('./partials/footer') %>
