<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>howdy, <%= user ? user.profile.name : "reader, please log in to your google account to start tracking your books" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
  <% if (user) { %>
      <a href="/books">collection of books</a>
  <% } %>
</main>

<%- include('./partials/footer') %>
