<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %> 
<% if (user) { %>
  <form action="/authors" method="POST">
    <label for="name-input">Author</label>
    <input type="text" name="name" id="name-input">
    <label for="living-input">living?</label>
    <input type="checkbox" name="living" id="living-input">
    <button type="submit">add Author</button>
  </form>
<% }else{ %>
  <h1>Log In to add an Author</h1>
<%} %>
<ul>
<% authors.forEach(author => { %>
<li>
  Author: <a href="/authors/<%= author._id%>"><%= author.name %></a>
</li>
<% }) %>
</ul>
<%- include('../partials/footer') %> 