<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %> 

<h1>Author: <a><%= author.name %></a></h1>
<% author.books.forEach(book => { %>
  <div><%= book.name %> </div>
<% }) %>
  <% if (user) { %>
    <% if (user.profile.name === author.poster.name) { %>
      <a href="/authors/<%= author.id%>/edit"> 
      <button>Edit Author</button>
      </a>
      <% }else{ %> 
        added by: <%= author.poster.name %> 
  <% }}else{ %>
    added by: <%= author.poster.name %> 
    <% } %>
<%- include('../partials/footer') %> 